@charset "UTF-8";
.fadeIn {
  opacity: 0;
  -webkit-animation: 1s ease-in forwards fadeIn;
  -moz-animation: 1s ease-in forwards fadeIn;
  animation: 1s ease-in forwards fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn.uno {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
