@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  transition: background-image 2s ease;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(11, 99, 138,0.5));  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/** Slide Sections **/
.slide {
  padding-top: 15em;
}

.slide .inside {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0 3em;
}

.slogan {
  font-family: "Oak", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
}
/**.slide .inside p {
	display: table-cell;
	width: 100%;
	clear: both;
	vertical-align: middle;
	text-align: center;
}**/
/************ SMALL SCREENS ************/
@media only screen and (max-width: 40em) {
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  /** typography **/
  .slide {
    padding-top: 10em;
  }

  .slide .inside {
    padding: 0;
  }

  .slogan {
    font-size: 30px;
    letter-spacing: 1px;
  }
}
