@font-face {
  font-family: Oak;
  font-weight: 700;
  src: url(../fonts/oak-bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Oak;
  font-weight: light;
  src: url(../fonts/oak-light.ttf);
  font-display: swap;
}
::selection {
  background: rgb(57, 255, 20, 0.8);
}
::-moz-selection {
  titlebackground: rgb(57, 255, 20);
}
a:visted {
  color: #000;
}
.menu {
  justify-content: space-between;
}
.menuops {
  position: fixed;
  display: none;
  font-size: 0.3em;
  top: 45px;
  right: 45px;
  z-index: 9999999;
}
.menuops h2 {
  display: inline-block;
}
#Logo {
  position: absolute;
  display: block;
  left: 3em;
  top: 3em;
  height: auto;
  z-index: 9999999;
}
.slogan {
  font-family: Oak, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-spacing: 0;
}
.slogan h1 {
  background-image: url(https://res.cloudinary.com/kola-project/image/upload/v1581395883/ezgif.com-crop_1_laxiyz.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0;
  margin: 10px 0;
}
#Container,
.container {
  /* width: 100%; */
  position: relative;
}
.text-block {
  position: absolute;
  top: 160px;
  /* right: 450px; */
  background-color: rgba(1,1,1,0.7);
  margin: 10px auto;
}

.text-block p {
  color: #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(205, 238, 74, 1);
  z-index: 9999;
  display: none;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 4);
  min-height: 54px;
}
.overlay ul li a {
  font-family: oak;
  font-size: 1.4em;
  display: block;
  color: #fff;
  text-shadow: none;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  transition: color 1s;
}
.overlay ul li a:focus,
.overlay ul li a:hover, .overlay ul li a:active {
  color: #000;
}
p > a {
  position: relative;
  /* color: #39ff14; */
  text-decoration: none;
}
p > a:hover {
  color: #000;
}
p > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 10px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
p > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
h2 {
  text-align: left;
  letter-spacing: 8px;
  color: #000;
  text-transform: uppercase;
  text-indent: -0.8em;
  font-size: 5em;
}
span.small {
  font-size: 60px;
  vertical-align: 20px;
}
p {
  font-family: oak;
  color: #000;
  font-size: 1.4em;
  text-align: left;
  letter-spacing: 2;
  /* line-height: 2; */
}
p.copyright {
  color: #c4c4c4;
  font-size: 1em;
  text-align-last: end;
}
footer {
  border-top: 2px solid #000;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.NewsFooter {
  margin-top: 5em;
}
.footerlinks {
  margin-top: 2.5em;
  text-align: right;
}
ul.footerlinks li {
  display: inline-block;
  margin-left: 2em;
}
ul.footerlinks li a {
  font-family: oak;
  color: #000;
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 2;
  line-height: 2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 700;
}
ul.footerlinksmain li a {
  color: #fff;
}
.sub {
  color: #5e5e5e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
}
.x {
  padding-top: 3em;
  width: 5%;
  height: 5%;
}
#Work {
  margin-top: 0;
}
.HorLine2 {
  height: 4px;
  width: 100px;
  background: #000;
  margin: 4em 0 0 4em;
}
.HorLine5 {
  height: 2px;
  width: 50px;
  background: #000;
}
button.filters {
  margin: 2em 1em 0;
  position: relative;
  display: inline-block;
  font-family: oak, sans-serif;
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}
button.filters::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 8px;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
button.filters:focus::after,
button.filtes:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
button.active {
  content: "";
}
button:focus {
  outline: 0;
}
.container .mix {
  width: 25%;
  -webkit-backface-visibility: hidden;
}
.da-thumbs {
  list-style: none;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
}
.da-thumbs li {
  float: left;
  margin: 0;
  position: relative;
}
.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
}
.da-thumbs li a img {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  height: 250px;
  object-position: center center;
  min-width: 414px;
}
.da-thumbs li a {
  overflow: hidden;
  height: 250px;
}
.da-thumbs li a div {
  position: absolute;
  background: #ebf0f6;
  width: 100%;
  height: 100%;
}
.da-thumbs li a div span {
  display: block;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-family: oak;
  font-size: 0.9em;
  letter-spacing: 2;
  text-transform: uppercase;
}
.da-thumbs li a div span p {
  text-align: center;
  vertical-align: middle;
  margin-top: 45%;
  transform: translateY(-65%);
}
.Playcontainer {
  margin-top: 16em;
  position: relative;
}
 .Deets {
padding-top: 2rem;
max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
.bold {
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (min-width: 40.063em) and (max-width: 40em) {
  .HorLine2 {
    margin: 3.3em 0 0 2em;
  }
  .container .mix {
    width: 100%;
    margin-top: 0;
    -webkit-backface-visibility: hidden;
  }
  .da-thumbs li a div span p {
    text-align: center;
    vertical-align: middle;
    margin-top: 45%;
    transform: translateY(-65%);
  }
}
@media only screen and (max-width: 40em) {
  #Logo{
    left: 1em;
  }
  .slogan h1{
    margin: 10px 10px;
  }
  .menuops{
            /* left: 20px; */
                display: grid;
                top: 150px;
  }
  .menuops  a{
    margin-right: 15px;
  }

  .menuops h2{
        letter-spacing: 2px;
  }
.text-block{
  top:75px;
}
  .row.expanded{
    height: auto;
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 1em;
    line-height: 30px;
  }
  .sub{
    font-size: 1em;
  }
  h2,
  h3 {
    font-size: 2em;
  }
  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 4);
    min-height: 54px;
  }
  footer {
    margin-bottom: 2em;
  }
  .NewsFooter {
    margin-top: 2em;
  }
    .container .mix {
    width: 100%;
    margin-top: 0;
    -webkit-backface-visibility: hidden;
  }
  /* footer p.copyright {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align-last: center; */
  } */
  .footerlinks {
    font-size: 11px;
  }

  ul.footerlinks {
    margin-left: 0;
  }
  ul.footerlinks li {
  display: list-item;
  /* margin-left: 1em; */
}
  /* p a {
     text-decoration: underline; 
  } */
  p > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 7px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  span.small {
    font-size: 30px;
    vertical-align: 10px;
  }
  #Work {
    margin-top: 1em;
  }
  .menuops {
    right: 25px;
  }
  .container .mix {
    /* width: 100%; */
    margin-top: 0;
    -webkit-backface-visibility: hidden;
  }
  #Container,
  .container {
    width: 100%;
    position: relative;
  }
  table,
  td,
  th {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    padding: 15px;
    text-align: left;
  }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
  }
  .Playcontainer {
    margin-top: 12em;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes filling {
  from {
    fill: rgb(255, 255, 255, 0.5);
    fill-opacity: 0;
  }
  to {
    fill: #2e7574;
    fill-opacity: 1;
  }
}
